body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.logo-container img {
    max-width: 80%;
    max-height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 30px #ccff00; /* Your Neon Yellow Glow */
    margin-bottom: 50px;
}

#instructions-img {
    max-width: 90%;
    max-height: 50vh;
    border-radius: 10px;
    border: 2px solid #ccff00;
    margin-bottom: 40px;
}

button {
    background-color: transparent;
    color: #ccff00;
    border: 2px solid #ccff00;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 15px #ccff00, inset 0 0 10px #ccff00;
    margin: 15px;
    width: 80%;
    max-width: 350px;
}

button:active {
    background-color: #ccff00;
    color: #121212;
}

h1 {
    color: #ccff00;
    text-shadow: 0 0 10px #ccff00;
}

select {
    width: 85%;
    padding: 15px;
    background-color: #222;
    color: #fff;
    border: 2px solid #ccff00;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}
